@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}
.container{
    color: white;
    font-size: 40px;
    border: solid white;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-grow: 30px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  /* Facebook */
.fa-facebook {
    width: 60px;
    height: 60px;
    border: white solid;
    border-radius: 15px;
    color: white;
  }
.fa-facebook:hover{
  font-size: 30px;
  transition: 1s;
}  

  /* instragram */
.fa-instagram {
    width: 60px;
    height: 60px;
    border: white solid;
    border-radius: 15px;
    color: white;
    text-decoration: none !important;
  }
.fa-instagram:hover{
    font-size: 30px;
    transition: 1s;
  }  